NiFi-DynamoDB/template/DynamoDB.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>9504d3cb-0186-1000-aac0-909eeb29abb4</groupId>
    <name>DynamoDB</name>
    <snippet>
        <controllerServices>
            <id>9b57603e-39af-3bcf-0000-000000000000</id>
            <parentGroupId>2ae75528-eff8-3a70-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>default-credentials</key>
                    <value>
                        <name>default-credentials</name>
                    </value>
                </entry>
                <entry>
                    <key>Access Key</key>
                    <value>
                        <name>Access Key</name>
                    </value>
                </entry>
                <entry>
                    <key>Secret Key</key>
                    <value>
                        <name>Secret Key</name>
                    </value>
                </entry>
                <entry>
                    <key>Credentials File</key>
                    <value>
                        <name>Credentials File</name>
                    </value>
                </entry>
                <entry>
                    <key>profile-name</key>
                    <value>
                        <name>profile-name</name>
                    </value>
                </entry>
                <entry>
                    <key>anonymous-credentials</key>
                    <value>
                        <name>anonymous-credentials</name>
                    </value>
                </entry>
                <entry>
                    <key>Assume Role ARN</key>
                    <value>
                        <name>Assume Role ARN</name>
                    </value>
                </entry>
                <entry>
                    <key>Assume Role Session Name</key>
                    <value>
                        <name>Assume Role Session Name</name>
                    </value>
                </entry>
                <entry>
                    <key>Session Time</key>
                    <value>
                        <name>Session Time</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-external-id</key>
                    <value>
                        <name>assume-role-external-id</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-proxy-host</key>
                    <value>
                        <name>assume-role-proxy-host</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-proxy-port</key>
                    <value>
                        <name>assume-role-proxy-port</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-sts-endpoint</key>
                    <value>
                        <name>assume-role-sts-endpoint</name>
                    </value>
                </entry>
            </descriptors>
            <name>AWSCredentialsProviderControllerService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>default-credentials</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Access Key</key>
                </entry>
                <entry>
                    <key>Secret Key</key>
                </entry>
                <entry>
                    <key>Credentials File</key>
                </entry>
                <entry>
                    <key>profile-name</key>
                </entry>
                <entry>
                    <key>anonymous-credentials</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Assume Role ARN</key>
                </entry>
                <entry>
                    <key>Assume Role Session Name</key>
                </entry>
                <entry>
                    <key>Session Time</key>
                    <value>3600</value>
                </entry>
                <entry>
                    <key>assume-role-external-id</key>
                </entry>
                <entry>
                    <key>assume-role-proxy-host</key>
                </entry>
                <entry>
                    <key>assume-role-proxy-port</key>
                </entry>
                <entry>
                    <key>assume-role-sts-endpoint</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService</type>
        </controllerServices>
        <controllerServices>
            <id>c9d2466d-127b-3adc-0000-000000000000</id>
            <parentGroupId>2ae75528-eff8-3a70-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>
                        <name>starting-field-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>starting-field-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>schema-text-property</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>schema-application-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>ROOT_NODE</value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>SELECTED_PART</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <processGroups>
            <id>b38258ad-1723-38bb-0000-000000000000</id>
            <parentGroupId>2ae75528-eff8-3a70-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>02ae9dfe-4fad-3215-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2380.9263229370117</x>
                        <y>1238.8458559513092</y>
                    </bends>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>c98d3b95-5f5b-364f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unprocessed</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>d4a25a44-d987-323f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>14e9f9b5-e5a1-339e-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>643.0095291137695</x>
                        <y>1270.089447259903</y>
                    </bends>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>10003614-20b5-3fa6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>25b145c3-933b-332a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>193e586a-1fd8-34bb-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1166.8871536254883</x>
                        <y>1263.8917543888092</y>
                    </bends>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>10003614-20b5-3fa6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unprocessed</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>25b145c3-933b-332a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>26a79942-1a54-3175-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>25b145c3-933b-332a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>0ff6827e-a124-325c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>41ed56b6-72aa-3d62-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>d4a25a44-d987-323f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>0cf844f4-2343-33c2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>50a259fe-4a25-37db-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>ab1dbed9-8f6f-3fe7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>0ee3700c-d81c-3180-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>52db6de4-8f5c-379d-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-296.0</x>
                        <y>1640.0</y>
                    </bends>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>ab1dbed9-8f6f-3fe7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>0ee3700c-d81c-3180-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>581e7077-4237-3b67-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>8746296c-b6ee-331c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>fd8ebd97-9c3b-3273-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>73bc0703-9603-3302-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>10003614-20b5-3fa6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>25b145c3-933b-332a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d0034b17-ad41-3653-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>0ee3700c-d81c-3180-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>8746296c-b6ee-331c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d7b1ccce-dccd-350b-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2780.9263229370117</x>
                        <y>1238.8458559513092</y>
                    </bends>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>c98d3b95-5f5b-364f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>d4a25a44-d987-323f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>db12772f-d1e0-383b-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2049.910469055176</x>
                        <y>1248.2616274356842</y>
                    </bends>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>6f3763fe-1588-3ba2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>ca6489ae-92da-34b9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e4ac40b4-f4c2-323f-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>fd8ebd97-9c3b-3273-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>c043aaec-884b-3df6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ecefd517-b969-3b37-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>ca6489ae-92da-34b9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>bfbf9dc0-2920-3abc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f2552228-d32f-3402-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>277.0</x>
                        <y>1479.0</y>
                    </bends>
                    <bends>
                        <x>277.0</x>
                        <y>1529.0</y>
                    </bends>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>0ee3700c-d81c-3180-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unprocessed</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>0ee3700c-d81c-3180-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f3b2c3e2-fc50-3ef4-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>6f3763fe-1588-3ba2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>not found</selectedRelationships>
                    <selectedRelationships>unprocessed</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>ca6489ae-92da-34b9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f80a5293-e687-3a47-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>c98d3b95-5f5b-364f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b38258ad-1723-38bb-0000-000000000000</groupId>
                        <id>d4a25a44-d987-323f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>0cf844f4-2343-33c2-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <position>
                        <x>2424.0</x>
                        <y>864.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>[
{
    "id": 123,
    "name": "John Doe",
    "payload": {
        "attr1": "attr1_value",
        "attr2": "attr2_value"
    }
}
,
{
    "id": 456,
    "name": "Jane Smith",
    "payload": {
        "attr1": "attr1_value"
    }
}
]</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>0ee3700c-d81c-3180-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <position>
                        <x>-192.0</x>
                        <y>1440.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Hash Key Name</key>
<value>
    <name>Hash Key Name</name>
</value>
                            </entry>
                            <entry>
<key>Range Key Name</key>
<value>
    <name>Range Key Name</name>
</value>
                            </entry>
                            <entry>
<key>Hash Key Value</key>
<value>
    <name>Hash Key Value</name>
</value>
                            </entry>
                            <entry>
<key>Range Key Value</key>
<value>
    <name>Range Key Value</name>
</value>
                            </entry>
                            <entry>
<key>Hash Key Value Type</key>
<value>
    <name>Hash Key Value Type</name>
</value>
                            </entry>
                            <entry>
<key>Range Key Value Type</key>
<value>
    <name>Range Key Value Type</name>
</value>
                            </entry>
                            <entry>
<key>Json Document attribute</key>
<value>
    <name>Json Document attribute</name>
</value>
                            </entry>
                            <entry>
<key>Character set of document</key>
<value>
    <name>Character set of document</name>
</value>
                            </entry>
                            <entry>
<key>Batch items for each request (between 1 and 50)</key>
<value>
    <name>Batch items for each request (between 1 and 50)</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Table Name</key>
<value>my-table</value>
                            </entry>
                            <entry>
<key>Hash Key Name</key>
<value>id</value>
                            </entry>
                            <entry>
<key>Range Key Name</key>
<value>name</value>
                            </entry>
                            <entry>
<key>Hash Key Value</key>
<value>${id}</value>
                            </entry>
                            <entry>
<key>Range Key Value</key>
<value>${name}</value>
                            </entry>
                            <entry>
<key>Hash Key Value Type</key>
<value>number</value>
                            </entry>
                            <entry>
<key>Range Key Value Type</key>
<value>string</value>
                            </entry>
                            <entry>
<key>Json Document attribute</key>
<value>payload</value>
                            </entry>
                            <entry>
<key>Character set of document</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Batch items for each request (between 1 and 50)</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>ap-southeast-2</value>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>9b57603e-39af-3bcf-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutDynamoDB</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unprocessed</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.dynamodb.PutDynamoDB</type>
                </processors>
                <processors>
                    <id>0ff6827e-a124-325c-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <position>
                        <x>712.0</x>
                        <y>848.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>[
{
    "id": 123,
    "name": "John Doe",
    "payload": {
"attr1": "attr1_value1",
"attr2": "attr2_value3",        
"attr23": "attr23_value3",
"attr233": "attr23_value3"
    }
}

]</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>10003614-20b5-3fa6-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <position>
                        <x>712.0</x>
                        <y>1352.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>25b145c3-933b-332a-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <position>
                        <x>712.0</x>
                        <y>1056.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>partition-key-strategy</key>
<value>
    <name>partition-key-strategy</name>
</value>
                            </entry>
                            <entry>
<key>partition-key-field</key>
<value>
    <name>partition-key-field</name>
</value>
                            </entry>
                            <entry>
<key>partition-key-attribute</key>
<value>
    <dependencies>
        <dependentValues>ByAttribute</dependentValues>
        <propertyName>partition-key-strategy</propertyName>
    </dependencies>
    <name>partition-key-attribute</name>
</value>
                            </entry>
                            <entry>
<key>sort-key-strategy</key>
<value>
    <name>sort-key-strategy</name>
</value>
                            </entry>
                            <entry>
<key>sort-key-field</key>
<value>
    <dependencies>
        <dependentValues>ByField</dependentValues>
        <dependentValues>BySequence</dependentValues>
        <propertyName>sort-key-strategy</propertyName>
    </dependencies>
    <name>sort-key-field</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>c9d2466d-127b-3adc-0000-000000000000</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>9b57603e-39af-3bcf-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>ap-southeast-2</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>my-table</value>
                            </entry>
                            <entry>
<key>partition-key-strategy</key>
<value>ByField</value>
                            </entry>
                            <entry>
<key>partition-key-field</key>
<value>id</value>
                            </entry>
                            <entry>
<key>partition-key-attribute</key>
                            </entry>
                            <entry>
<key>sort-key-strategy</key>
<value>ByField</value>
                            </entry>
                            <entry>
<key>sort-key-field</key>
<value>name</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutDynamoDBRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unprocessed</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.dynamodb.PutDynamoDBRecord</type>
                </processors>
                <processors>
                    <id>6f3763fe-1588-3ba2-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <position>
                        <x>1560.0</x>
                        <y>1280.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>8746296c-b6ee-331c-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <position>
                        <x>-192.0</x>
                        <y>1232.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>
    <name>Line-by-Line Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(?s)(^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>${payload}</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Always Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>All</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Create Payload</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>ab1dbed9-8f6f-3fe7-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <position>
                        <x>-192.0</x>
                        <y>1712.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>bfbf9dc0-2920-3abc-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <position>
                        <x>1568.0</x>
                        <y>840.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>c043aaec-884b-3df6-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <position>
                        <x>-192.0</x>
                        <y>840.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>{
    "id": 123,
    "name": "John Doe",
    "payload": {
        "attr1": "attr1_value",
        "attr2": "attr2_value"
    }
}</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>c98d3b95-5f5b-364f-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <position>
                        <x>2408.0</x>
                        <y>1280.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>ca6489ae-92da-34b9-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <position>
                        <x>1568.0</x>
                        <y>1048.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Hash Key Name</key>
<value>
    <name>Hash Key Name</name>
</value>
                            </entry>
                            <entry>
<key>Range Key Name</key>
<value>
    <name>Range Key Name</name>
</value>
                            </entry>
                            <entry>
<key>Hash Key Value</key>
<value>
    <name>Hash Key Value</name>
</value>
                            </entry>
                            <entry>
<key>Range Key Value</key>
<value>
    <name>Range Key Value</name>
</value>
                            </entry>
                            <entry>
<key>Hash Key Value Type</key>
<value>
    <name>Hash Key Value Type</name>
</value>
                            </entry>
                            <entry>
<key>Range Key Value Type</key>
<value>
    <name>Range Key Value Type</name>
</value>
                            </entry>
                            <entry>
<key>Json Document attribute</key>
<value>
    <name>Json Document attribute</name>
</value>
                            </entry>
                            <entry>
<key>Batch items for each request (between 1 and 50)</key>
<value>
    <name>Batch items for each request (between 1 and 50)</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Table Name</key>
<value>my-table</value>
                            </entry>
                            <entry>
<key>Hash Key Name</key>
<value>id</value>
                            </entry>
                            <entry>
<key>Range Key Name</key>
<value>name</value>
                            </entry>
                            <entry>
<key>Hash Key Value</key>
<value>123</value>
                            </entry>
                            <entry>
<key>Range Key Value</key>
<value>John Doe</value>
                            </entry>
                            <entry>
<key>Hash Key Value Type</key>
<value>number</value>
                            </entry>
                            <entry>
<key>Range Key Value Type</key>
<value>string</value>
                            </entry>
                            <entry>
<key>Json Document attribute</key>
<value>payload</value>
                            </entry>
                            <entry>
<key>Batch items for each request (between 1 and 50)</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>ap-southeast-2</value>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>9b57603e-39af-3bcf-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetDynamoDB</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>not found</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unprocessed</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.dynamodb.GetDynamoDB</type>
                </processors>
                <processors>
                    <id>d4a25a44-d987-323f-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <position>
                        <x>2416.0</x>
                        <y>1064.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Hash Key Name</key>
<value>
    <name>Hash Key Name</name>
</value>
                            </entry>
                            <entry>
<key>Range Key Name</key>
<value>
    <name>Range Key Name</name>
</value>
                            </entry>
                            <entry>
<key>Hash Key Value</key>
<value>
    <name>Hash Key Value</name>
</value>
                            </entry>
                            <entry>
<key>Range Key Value</key>
<value>
    <name>Range Key Value</name>
</value>
                            </entry>
                            <entry>
<key>Hash Key Value Type</key>
<value>
    <name>Hash Key Value Type</name>
</value>
                            </entry>
                            <entry>
<key>Range Key Value Type</key>
<value>
    <name>Range Key Value Type</name>
</value>
                            </entry>
                            <entry>
<key>Batch items for each request (between 1 and 50)</key>
<value>
    <name>Batch items for each request (between 1 and 50)</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Table Name</key>
<value>my-table</value>
                            </entry>
                            <entry>
<key>Hash Key Name</key>
<value>id</value>
                            </entry>
                            <entry>
<key>Range Key Name</key>
<value>name</value>
                            </entry>
                            <entry>
<key>Hash Key Value</key>
<value>456</value>
                            </entry>
                            <entry>
<key>Range Key Value</key>
<value>Jane Smith</value>
                            </entry>
                            <entry>
<key>Hash Key Value Type</key>
<value>number</value>
                            </entry>
                            <entry>
<key>Range Key Value Type</key>
<value>string</value>
                            </entry>
                            <entry>
<key>Batch items for each request (between 1 and 50)</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>ap-southeast-2</value>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>9b57603e-39af-3bcf-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>DeleteDynamoDB</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unprocessed</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.dynamodb.DeleteDynamoDB</type>
                </processors>
                <processors>
                    <id>fd8ebd97-9c3b-3273-0000-000000000000</id>
                    <parentGroupId>b38258ad-1723-38bb-0000-000000000000</parentGroupId>
                    <position>
                        <x>-192.0</x>
                        <y>1048.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>id</key>
<value>
    <name>id</name>
</value>
                            </entry>
                            <entry>
<key>name</key>
<value>
    <name>name</name>
</value>
                            </entry>
                            <entry>
<key>payload</key>
<value>
    <name>payload</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>id</key>
<value>$.id</value>
                            </entry>
                            <entry>
<key>name</key>
<value>$.name</value>
                            </entry>
                            <entry>
<key>payload</key>
<value>$.payload</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>DynamoDB</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>03/02/2023 08:49:26 AEST</timestamp>
</template>
