Excel-NiFi/templates/excel_extract_to_mysql.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>85cc5d21-0181-1000-af8b-c61a9b102d06</groupId>
    <name>excel_extract_to_mysql</name>
    <snippet>
        <processGroups>
            <id>1632e487-7588-36a2-0000-000000000000</id>
            <parentGroupId>9ebfb545-68b9-35c3-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>1570a2dd-cdd8-304f-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>b22cf3f0-210b-32d3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>not.found</selectedRelationships>
                    <selectedRelationships>permission.denied</selectedRelationships>
                    <source>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>d928e676-7cd1-30f9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1a67ea60-f5fa-3f87-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>0fff4fc6-377f-3842-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>691e32fb-ab1b-3f43-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1ab99002-c1e2-3059-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1888.0</x>
                        <y>1160.0</y>
                    </bends>
                    <destination>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>b22cf3f0-210b-32d3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>9784c149-b51f-3304-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>36d0f346-ca3f-376e-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1896.0</x>
                        <y>576.0</y>
                    </bends>
                    <destination>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>b22cf3f0-210b-32d3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>691e32fb-ab1b-3f43-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>1</zIndex>
                </connections>
                <connections>
                    <id>4d2f752d-6bf0-3973-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>691e32fb-ab1b-3f43-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>d928e676-7cd1-30f9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7d5c0e18-fb46-3cbb-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>986.10009765625</x>
                        <y>1100.64501953125</y>
                    </bends>
                    <bends>
                        <x>986.10009765625</x>
                        <y>1188.64501953125</y>
                    </bends>
                    <destination>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>9784c149-b51f-3304-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>9784c149-b51f-3304-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>abd85525-aa63-33a5-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>f25c9f81-a561-32b4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>0fff4fc6-377f-3842-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b460e61e-2ab0-3ebd-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>d928e676-7cd1-30f9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>4d2858b6-8217-34ac-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f94f6dcc-3b41-3056-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>9784c149-b51f-3304-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>sql</selectedRelationships>
                    <source>
                        <groupId>1632e487-7588-36a2-0000-000000000000</groupId>
                        <id>f25c9f81-a561-32b4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>8e2f7d3a-0d60-35c9-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<dependencies>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
<name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
<name>suppress-nulls</name>
                            </value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>
<name>output-grouping</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>
<dependencies>
    <dependentValues>gzip</dependentValues>
    <propertyName>compression-format</propertyName>
</dependencies>
<name>compression-level</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>full-schema-attribute</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>output-array</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>none</value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>ac8206d4-ec81-3f6e-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>
<name>csv-reader-csv-parser</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>
<name>Skip Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>
<name>ignore-csv-header</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>csvutils-allow-duplicate-header-names</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>commons-csv</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>excel</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>true</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVReader</type>
                </controllerServices>
                <controllerServices>
                    <id>c5e4214d-6d74-3d9a-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-user-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
<name>kerberos-user-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                            <value>
<name>kerberos-principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                            <value>
<name>kerberos-password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>
<name>dbcp-min-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>
<name>dbcp-max-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>
<name>dbcp-max-conn-lifetime</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>
<name>dbcp-time-between-eviction-runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>
<name>dbcp-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>
<name>dbcp-soft-min-evictable-idle-time</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>Mysql-DBCPConnectionPool</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:mysql://#{db_host}:#{db_port}/#{db_name}</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>#{db_driver_class}</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>#{drivers_directory}#{db_driver_file}</value>
                        </entry>
                        <entry>
                            <key>kerberos-user-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>#{db_user}</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>30 mins</value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>-1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <labels>
                    <id>338e7921-ac74-3e05-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <position>
                        <x>912.0</x>
                        <y>776.0</y>
                    </position>
                    <height>48.0</height>
                    <label>Convert CSV to JSON
</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>176.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>43f14257-5a25-323f-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <position>
                        <x>888.0</x>
                        <y>112.0</y>
                    </position>
                    <height>64.0</height>
                    <label>List Location of your Excell Files</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>200.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>ca9bc23e-0c4b-3cfb-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <position>
                        <x>880.0</x>
                        <y>544.0</y>
                    </position>
                    <height>64.0</height>
                    <label>Extract your excel sheet as CSV</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>200.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>f080c1e0-b943-3e9f-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <position>
                        <x>856.0</x>
                        <y>944.0</y>
                    </position>
                    <height>48.0</height>
                    <label>Convert JSON to SQL INSERT Statements
</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>240.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <processors>
                    <id>0fff4fc6-377f-3842-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <position>
                        <x>1128.0</x>
                        <y>720.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>ac8206d4-ec81-3f6e-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>8e2f7d3a-0d60-35c9-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                </processors>
                <processors>
                    <id>4d2858b6-8217-34ac-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <position>
                        <x>1128.0</x>
                        <y>88.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>listing-strategy</key>
<value>
    <name>listing-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>Input Directory Location</key>
<value>
    <name>Input Directory Location</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Include File Attributes</key>
<value>
    <name>Include File Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>target-system-timestamp-precision</key>
<value>
    <name>target-system-timestamp-precision</name>
</value>
                            </entry>
                            <entry>
<key>et-state-cache</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>et-state-cache</name>
</value>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>
    <name>et-time-window</name>
</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>
    <name>et-initial-listing-target</name>
</value>
                            </entry>
                            <entry>
<key>et-node-identifier</key>
<value>
    <name>et-node-identifier</name>
</value>
                            </entry>
                            <entry>
<key>track-performance</key>
<value>
    <name>track-performance</name>
</value>
                            </entry>
                            <entry>
<key>max-performance-metrics</key>
<value>
    <name>max-performance-metrics</name>
</value>
                            </entry>
                            <entry>
<key>max-operation-time</key>
<value>
    <name>max-operation-time</name>
</value>
                            </entry>
                            <entry>
<key>max-listing-time</key>
<value>
    <name>max-listing-time</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>#{source_directory}</value>
                            </entry>
                            <entry>
<key>listing-strategy</key>
<value>timestamps</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>false</value>
                            </entry>
                            <entry>
<key>record-writer</key>
                            </entry>
                            <entry>
<key>Input Directory Location</key>
<value>Local</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>#{file_list}</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Include File Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>target-system-timestamp-precision</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>et-state-cache</key>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>3 hours</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>all</value>
                            </entry>
                            <entry>
<key>et-node-identifier</key>
<value>${hostname()}</value>
                            </entry>
                            <entry>
<key>track-performance</key>
<value>false</value>
                            </entry>
                            <entry>
<key>max-performance-metrics</key>
<value>100000</value>
                            </entry>
                            <entry>
<key>max-operation-time</key>
<value>10 secs</value>
                            </entry>
                            <entry>
<key>max-listing-time</key>
<value>3 mins</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>10 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ListFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ListFile</type>
                </processors>
                <processors>
                    <id>691e32fb-ab1b-3f43-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <position>
                        <x>1128.0</x>
                        <y>520.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-poi-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>extract-sheets</key>
<value>
    <name>extract-sheets</name>
</value>
                            </entry>
                            <entry>
<key>excel-extract-first-row</key>
<value>
    <name>excel-extract-first-row</name>
</value>
                            </entry>
                            <entry>
<key>excel-extract-column-to-skip</key>
<value>
    <name>excel-extract-column-to-skip</name>
</value>
                            </entry>
                            <entry>
<key>excel-format-values</key>
<value>
    <name>excel-format-values</name>
</value>
                            </entry>
                            <entry>
<key>CSV Format</key>
<value>
    <name>CSV Format</name>
</value>
                            </entry>
                            <entry>
<key>Value Separator</key>
<value>
    <dependencies>
        <dependentValues>custom</dependentValues>
        <propertyName>CSV Format</propertyName>
    </dependencies>
    <name>Value Separator</name>
</value>
                            </entry>
                            <entry>
<key>Include Header Line</key>
<value>
    <name>Include Header Line</name>
</value>
                            </entry>
                            <entry>
<key>Quote Character</key>
<value>
    <dependencies>
        <dependentValues>custom</dependentValues>
        <propertyName>CSV Format</propertyName>
    </dependencies>
    <name>Quote Character</name>
</value>
                            </entry>
                            <entry>
<key>Escape Character</key>
<value>
    <dependencies>
        <dependentValues>custom</dependentValues>
        <propertyName>CSV Format</propertyName>
    </dependencies>
    <name>Escape Character</name>
</value>
                            </entry>
                            <entry>
<key>Comment Marker</key>
<value>
    <dependencies>
        <dependentValues>custom</dependentValues>
        <propertyName>CSV Format</propertyName>
    </dependencies>
    <name>Comment Marker</name>
</value>
                            </entry>
                            <entry>
<key>Null String</key>
<value>
    <dependencies>
        <dependentValues>custom</dependentValues>
        <propertyName>CSV Format</propertyName>
    </dependencies>
    <name>Null String</name>
</value>
                            </entry>
                            <entry>
<key>Trim Fields</key>
<value>
    <dependencies>
        <dependentValues>custom</dependentValues>
        <propertyName>CSV Format</propertyName>
    </dependencies>
    <name>Trim Fields</name>
</value>
                            </entry>
                            <entry>
<key>Quote Mode</key>
<value>
    <dependencies>
        <dependentValues>custom</dependentValues>
        <propertyName>CSV Format</propertyName>
    </dependencies>
    <name>Quote Mode</name>
</value>
                            </entry>
                            <entry>
<key>Record Separator</key>
<value>
    <dependencies>
        <dependentValues>custom</dependentValues>
        <propertyName>CSV Format</propertyName>
    </dependencies>
    <name>Record Separator</name>
</value>
                            </entry>
                            <entry>
<key>Include Trailing Delimiter</key>
<value>
    <dependencies>
        <dependentValues>custom</dependentValues>
        <propertyName>CSV Format</propertyName>
    </dependencies>
    <name>Include Trailing Delimiter</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>extract-sheets</key>
                            </entry>
                            <entry>
<key>excel-extract-first-row</key>
<value>0</value>
                            </entry>
                            <entry>
<key>excel-extract-column-to-skip</key>
                            </entry>
                            <entry>
<key>excel-format-values</key>
<value>false</value>
                            </entry>
                            <entry>
<key>CSV Format</key>
<value>excel</value>
                            </entry>
                            <entry>
<key>Value Separator</key>
<value>,</value>
                            </entry>
                            <entry>
<key>Include Header Line</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Quote Character</key>
<value>"</value>
                            </entry>
                            <entry>
<key>Escape Character</key>
<value>\</value>
                            </entry>
                            <entry>
<key>Comment Marker</key>
                            </entry>
                            <entry>
<key>Null String</key>
                            </entry>
                            <entry>
<key>Trim Fields</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Quote Mode</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>Record Separator</key>
<value>\n</value>
                            </entry>
                            <entry>
<key>Include Trailing Delimiter</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertExcelToCSVProcessor</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.poi.ConvertExcelToCSVProcessor</type>
                </processors>
                <processors>
                    <id>9784c149-b51f-3304-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <position>
                        <x>1120.0</x>
                        <y>1104.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JDBC Connection Pool</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>JDBC Connection Pool</name>
</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
<value>
    <name>putsql-sql-statement</name>
</value>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>
    <name>Support Fragmented Transactions</name>
</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>
    <name>database-session-autocommit</name>
</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
<value>
    <name>Transaction Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>
    <name>Obtain Generated Keys</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JDBC Connection Pool</key>
<value>c5e4214d-6d74-3d9a-0000-000000000000</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>false</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutSQL</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutSQL</type>
                </processors>
                <processors>
                    <id>b22cf3f0-210b-32d3-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <position>
                        <x>1723.9999867567808</x>
                        <y>302.49559020996094</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>d928e676-7cd1-30f9-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <position>
                        <x>1128.0</x>
                        <y>304.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File to Fetch</key>
<value>
    <name>File to Fetch</name>
</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>
    <name>Completion Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
<value>
    <name>Move Destination Directory</name>
</value>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>
    <name>Move Conflict Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>
    <name>Log level when file not found</name>
</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>
    <name>Log level when permission denied</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File to Fetch</key>
<value>${absolute.path}/${filename}</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>None</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>Rename</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>ERROR</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>ERROR</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>not.found</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>permission.denied</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.FetchFile</type>
                </processors>
                <processors>
                    <id>f25c9f81-a561-32b4-0000-000000000000</id>
                    <parentGroupId>1632e487-7588-36a2-0000-000000000000</parentGroupId>
                    <position>
                        <x>1120.0</x>
                        <y>912.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JDBC Connection Pool</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>JDBC Connection Pool</name>
</value>
                            </entry>
                            <entry>
<key>Statement Type</key>
<value>
    <name>Statement Type</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Catalog Name</key>
<value>
    <name>Catalog Name</name>
</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>
    <name>Schema Name</name>
</value>
                            </entry>
                            <entry>
<key>Translate Field Names</key>
<value>
    <name>Translate Field Names</name>
</value>
                            </entry>
                            <entry>
<key>Unmatched Field Behavior</key>
<value>
    <name>Unmatched Field Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Unmatched Column Behavior</key>
<value>
    <name>Unmatched Column Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Update Keys</key>
<value>
    <name>Update Keys</name>
</value>
                            </entry>
                            <entry>
<key>jts-quoted-identifiers</key>
<value>
    <name>jts-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>jts-quoted-table-identifiers</key>
<value>
    <name>jts-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>jts-sql-param-attr-prefix</key>
<value>
    <name>jts-sql-param-attr-prefix</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JDBC Connection Pool</key>
<value>c5e4214d-6d74-3d9a-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Statement Type</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>${filename:replace('.csv','')}</value>
                            </entry>
                            <entry>
<key>Catalog Name</key>
<value>#{db_name}</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
                            </entry>
                            <entry>
<key>Translate Field Names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Unmatched Field Behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>Unmatched Column Behavior</key>
<value>Fail on Unmatched Columns</value>
                            </entry>
                            <entry>
<key>Update Keys</key>
                            </entry>
                            <entry>
<key>jts-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>jts-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>jts-sql-param-attr-prefix</key>
<value>sql</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertJSONToSQL</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>sql</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Excel Extractor to MySQL</name>
            <variables>
                <entry>
                    <key>var1</key>
                    <value>asas</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>06/23/2022 13:42:33 AEST</timestamp>
</template>
