NiFi Expression Language/templates/Expression_Language_-_Boolean_Logic_Operators.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>f3f8682f-0180-1000-0761-87710056e53c</groupId>
    <name>Expression Language - Logic Operators</name>
    <snippet>
        <processGroups>
            <id>241978f6-5077-352b-0000-000000000000</id>
            <parentGroupId>5cf6b0ea-b522-3dee-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>241978f6-5077-352b-9502-a458b2dad64c</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>2d32ca28-7408-37f2-0000-000000000000</id>
                    <parentGroupId>241978f6-5077-352b-0000-000000000000</parentGroupId>
                    <versionedComponentId>2d32ca28-7408-37f2-825e-0552aca5dc24</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>241978f6-5077-352b-0000-000000000000</groupId>
                        <id>eecab1d5-3c83-3d74-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>eecab1d5-3c83-3d74-b1df-d7e2581802b6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>241978f6-5077-352b-0000-000000000000</groupId>
                        <id>ce3537e6-249d-3cbc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ce3537e6-249d-3cbc-8c44-f921d748428b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b02ab536-6f72-30cd-0000-000000000000</id>
                    <parentGroupId>241978f6-5077-352b-0000-000000000000</parentGroupId>
                    <versionedComponentId>b02ab536-6f72-30cd-a02f-c09cd66880ae</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>241978f6-5077-352b-0000-000000000000</groupId>
                        <id>506f3663-46ff-32ca-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>506f3663-46ff-32ca-9bd3-3c33a408b573</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>241978f6-5077-352b-0000-000000000000</groupId>
                        <id>8e2fddfc-338d-39d4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8e2fddfc-338d-39d4-8d14-cb11741b3e5a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c40460b5-d654-36cb-0000-000000000000</id>
                    <parentGroupId>241978f6-5077-352b-0000-000000000000</parentGroupId>
                    <versionedComponentId>c40460b5-d654-36cb-8af5-daeb6f5b5054</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>241978f6-5077-352b-0000-000000000000</groupId>
                        <id>8e2fddfc-338d-39d4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8e2fddfc-338d-39d4-8d14-cb11741b3e5a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>241978f6-5077-352b-0000-000000000000</groupId>
                        <id>eecab1d5-3c83-3d74-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>eecab1d5-3c83-3d74-b1df-d7e2581802b6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>506f3663-46ff-32ca-0000-000000000000</id>
                    <parentGroupId>241978f6-5077-352b-0000-000000000000</parentGroupId>
                    <position>
                        <x>424.0</x>
                        <y>216.0</y>
                    </position>
                    <versionedComponentId>506f3663-46ff-32ca-9bd3-3c33a408b573</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>8e2fddfc-338d-39d4-0000-000000000000</id>
                    <parentGroupId>241978f6-5077-352b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-136.0</x>
                        <y>208.0</y>
                    </position>
                    <versionedComponentId>8e2fddfc-338d-39d4-8d14-cb11741b3e5a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>test_isNull , test_NotNull , test_isEmpty , test_equals , test_equalsIgnoreCase , test_gt , test_ge , test_lt , test_le , test_not , test_and , test_or , test_ifElse</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>ce3537e6-249d-3cbc-0000-000000000000</id>
                    <parentGroupId>241978f6-5077-352b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-152.0</x>
                        <y>-152.0</y>
                    </position>
                    <versionedComponentId>ce3537e6-249d-3cbc-8c44-f921d748428b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                            <entry>
<key>empty_value</key>
<value>
    <name>empty_value</name>
</value>
                            </entry>
                            <entry>
<key>integer_value</key>
<value>
    <name>integer_value</name>
</value>
                            </entry>
                            <entry>
<key>string_value</key>
<value>
    <name>string_value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                            <entry>
<key>empty_value</key>
<value></value>
                            </entry>
                            <entry>
<key>integer_value</key>
<value>10</value>
                            </entry>
                            <entry>
<key>string_value</key>
<value>InsightByte</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>eecab1d5-3c83-3d74-0000-000000000000</id>
                    <parentGroupId>241978f6-5077-352b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-144.0</x>
                        <y>24.0</y>
                    </position>
                    <versionedComponentId>eecab1d5-3c83-3d74-b1df-d7e2581802b6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>test_and</key>
<value>
    <name>test_and</name>
</value>
                            </entry>
                            <entry>
<key>test_equals</key>
<value>
    <name>test_equals</name>
</value>
                            </entry>
                            <entry>
<key>test_equalsIgnoreCase</key>
<value>
    <name>test_equalsIgnoreCase</name>
</value>
                            </entry>
                            <entry>
<key>test_ge</key>
<value>
    <name>test_ge</name>
</value>
                            </entry>
                            <entry>
<key>test_gt</key>
<value>
    <name>test_gt</name>
</value>
                            </entry>
                            <entry>
<key>test_ifElse</key>
<value>
    <name>test_ifElse</name>
</value>
                            </entry>
                            <entry>
<key>test_isEmpty</key>
<value>
    <name>test_isEmpty</name>
</value>
                            </entry>
                            <entry>
<key>test_isNull</key>
<value>
    <name>test_isNull</name>
</value>
                            </entry>
                            <entry>
<key>test_le</key>
<value>
    <name>test_le</name>
</value>
                            </entry>
                            <entry>
<key>test_lt</key>
<value>
    <name>test_lt</name>
</value>
                            </entry>
                            <entry>
<key>test_not</key>
<value>
    <name>test_not</name>
</value>
                            </entry>
                            <entry>
<key>test_NotNull</key>
<value>
    <name>test_NotNull</name>
</value>
                            </entry>
                            <entry>
<key>test_or</key>
<value>
    <name>test_or</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>test_and</key>
<value>${string_value:toLower():equals('insightbyte'):and(
	${string_value:length():ge(5)}
)}</value>
                            </entry>
                            <entry>
<key>test_equals</key>
<value>${integer_value:equals(10)}</value>
                            </entry>
                            <entry>
<key>test_equalsIgnoreCase</key>
<value>${scrint_value:equalsIgnoreCase('insightbyte')}</value>
                            </entry>
                            <entry>
<key>test_ge</key>
<value>${integer_value:ge(11)}</value>
                            </entry>
                            <entry>
<key>test_gt</key>
<value>${integer_value:gt(1)}</value>
                            </entry>
                            <entry>
<key>test_ifElse</key>
<value>${nullFilename:equals('InsightByte'):ifElse('False', 'True')}</value>
                            </entry>
                            <entry>
<key>test_isEmpty</key>
<value>${empty_value:isEmpty()}</value>
                            </entry>
                            <entry>
<key>test_isNull</key>
<value>${null_value:isNull()}</value>
                            </entry>
                            <entry>
<key>test_le</key>
<value>${integer_value:le(1)}</value>
                            </entry>
                            <entry>
<key>test_lt</key>
<value>${integer_value:lt(1)}</value>
                            </entry>
                            <entry>
<key>test_not</key>
<value>${integer_value:equals(10):not()}</value>
                            </entry>
                            <entry>
<key>test_NotNull</key>
<value>${string_value:notNull()}</value>
                            </entry>
                            <entry>
<key>test_or</key>
<value>${string_value:toLower():equals('insightbyte'):or(
	${string_value:length():ge(50)}
)}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Run Expression Language</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Expression Language - Logic Operators</name>
            <variables>
                <entry>
                    <key>file_path</key>
                    <value>/opt/data_demos</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>05/25/2022 16:08:55 AEST</timestamp>
</template>
